.list {
    display: flex;
}

.navigator{
    display: flex;
    margin-bottom: 20px;
    background-color: coral;
}

.nav-link{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.index {
    margin-right: 30px;
}

.pagination {
    display: flex;
}

.page-link {
    padding-left: 5px;
    padding-right: 5px;
}

.NoMarginPadding {
    margin: 0px;
    padding: 0px;
}